:root{
    --green: #1ABC9C;
    --light-blue-green: #1EA4B6;
    --white: #FFFFFF;
    --black: #23272A;
    --blue: #0E38B5;
    --dark-blue: #2C3E50;
    --light-blue: #1C83C1;
    --light-grey-blue: #3A546D;
    --bordeaux: #BA4B63;
    --beige: #CCB2A3;
}

header{
    height: 80px;
    background-color: var(--dark-blue);
}



.bd-solid{
    border: 2px solid white;
    border-radius: 10%;
    padding: 15px;
}

[class^="col-12"] {
    border: 2px dashed black;
    height: 250px;
}



/* !JUMBOTRON*/

.start-bootstrap{
    background-color: var(--green);
}

.start-bootstrap img{
    height: 350px;
}

.line{
    height: 4px;
    width: 150px;
    border-radius: 10px;
}

.bg-green{
    background-color: var(--green);
    color: var(--white);
}

/* !PORTFOLIO*/

.portfolio{
    background-color: white;
}

.card{
    height: 100%;
}

.card{
    margin-top: 20px;
    margin-bottom: 20px;
  }


.card img{
    
    max-height: 100%;
}

